<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
    <!--先定义所有的appender -->
    <appenders>
        <!--这个输出控制台的配置 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}][%level]%msg%xEx%n"/>
        </Console>
        <RollingRandomAccessFile name="File"
                                 fileName="PluginLog/logs.log"
                                 filePattern="logs/logs-%d{yyyy-MM-dd HH-mm}-%i.log"
                                 target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}][%level]%msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingRandomAccessFile>
    </appenders>

    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
    <loggers>
        <root level="trace">
            <appender-ref ref="Console"/>
            <appender-ref ref="File"/>
        </root>
    </loggers>
</configuration>